html,
body {
    height: 100%;
    color: white;
    margin: 0;
    box-sizing: border-box;
}

#header {
    background-image: linear-gradient( rgba(31, 31, 31, 0.8) 0%, rgba(37, 37, 37, 0.8) 100%), url(./images/img-1.jpg);
    height: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#header>nav {
    padding: 0 0 0 24rem;
    height: 12rem;
    display: flex;
    align-items: center;
}

.hero {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.hero>.left {
    flex: 1;
    padding: 0 3.2rem 0;
}

#header>.hero>.left>h3 {
    font-size: 1.872rem;
    margin: 18.72px 0;
    line-height: 1.2;
}

#header>.hero>.left>h1 {
    font-size: 4.8rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 32.16px;
}

.left>p {
    font-size: 2rem;
    max-width: 50rem;
    line-height: 1.8;
    margin-bottom: 19.2px;
}

.hero>.left .btn {
    padding: 22px 40px;
    background-color: #05d561;
    text-decoration: none;
    color: rgb(221, 221, 221);
    font-size: 27.2px;
    display: inline-block;
    border-radius: 4rem;
    font-weight: 600;
}

.hero>.left>span span {
    font-size: 1.5rem;
    margin-left: 1.6rem;
    line-height: 2;
    color: rgb(172, 172, 172);
}

.hero>.left>.parent1 {
    display: flex;
    align-items: center;
}

.hero>.right {
    flex: 1;
    padding: 0 3.2rem 0;
}

.card {
    background-color: white;
    color: black;
    padding: 4.8rem;
    text-align: center;
    border-radius: 2rem;
    height: 80%;
}

div.circle {
    height: 7rem;
    width: 7rem;
    border-radius: 100%;
    background-color: #f0f0f0;
    display: flex;
    margin: auto;
}

div.circle i {
    color: #414;
    margin: auto;
    font-size: 3rem;
}

.card>h2 {
    font-size: 3.2rem;
    font-weight: 600;
    margin: 1.5rem auto 0;
}

.card>p {
    font-size: 1.5rem;
    margin: 1.6rem 0;
    color: rgb(136, 136, 136);
    line-height: 2.5rem;
}

.form {
    display: flex;
    flex-direction: column;
}

.form>* {
    display: block;
}

.form input {
    padding: 0.96rem 3.2rem;
    width: 80%;
    margin-bottom: 1.44rem;
    background-color: rgb(221, 221, 221);
    border: none;
    font-size: 1.6rem;
    color: black;
}

.form .submit-button {
    padding: 1rem 5rem;
    background-color: rgb(5, 213, 97);
    border: none;
    border-radius: .48rem;
    color: white;
    font-weight: 600;
    font-size: 1.92rem;
    line-height: normal;
    padding: 1.28rem;
}

@media screen and (max-width: 1206px) {
    #header {
        height: auto;
        padding-bottom: 6.4rem;
    }

    div.products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2fr;
    }

    #header nav {
        justify-content: center;
        padding: 0px;
    }

    .hero {
        flex-direction: column;
    }

    .left {
        text-align: center;
        flex-direction: column;
    }

    div.left p {
        margin-bottom: 1.92rem;
        display: inline-block;
    }

    div.left a, span {
        flex-direction: column;
        justify-content: center;
    }

    footer {
        flex-direction: column;
    }

    ul.social-networks {
        margin-top: 4.8rem;
    }
}

section.middle {
    padding: 9.6rem 0 4.8rem;
}

section.middle h2 {
    color: rgb(0, 0, 0);
    font-size: 3.2rem;
    font-weight: 300;
    margin: auto;
    max-width: 700px;
    margin-bottom: 4rem;
    text-align: center;
    line-height: 5rem;
}

section>hr {
    background-color: rgb(201, 201, 201);
    width: 80%;
}

section .products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    text-align: center;
    justify-content: center;
    padding: 6.4rem 16rem;
}

div.product {
    padding: 0 1.12rem 0;
}

div.product > div.icon {
    height: 7rem;
    width: 7rem;
    border-radius: 100%;
    background-color: #eec8c8;
    display: inline-flex;
    margin: auto;
    cursor: pointer;  
}

div.icon, i {
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.09, 0.98, 0.38, 2.3);
}

div.icon i:hover {
    transform: scale(1.2);
}

div.product .icon> i {
    color: rgb(0, 0, 0);
    margin: auto;
    font-size: 3rem;
}

div.product>a h3 {
    font-family: "Titillium Web", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 2.08rem;
    margin: 2.08rem 0;
}

div.product>a {
    text-decoration: none;
}

div.product p {
    font-family: "Titillium Web", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 1.6rem;
    margin: auto;
    max-width: 90%;
    line-height: 2.5rem;
}

footer {
    background-color: rgb(33, 20, 20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 9.6rem;
}

footer span, strong.cloin {
    font-size: 1.6rem;
    color: #f0f0f0;
}

footer ul {
    display: flex;
}

ul.social-networks .twitter, .facebook, .youtube {
    height: 7rem;
    width: 7rem;
    border-radius: 100%;
    background-color: rgb(221, 221, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.48rem;
    cursor: pointer;
}

ul.social-networks>li> div.icon> i {
    color: rgb(0, 0, 0);
    font-size: 3.5rem;
}

